.Navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  box-shadow: 5px 5px 4px grey;
}

.Navbar nav {
  display: flex;
  justify-content: center;
  margin-right: 10%;
}

.Navbar a {
  margin: 0 5% 0 5%;
  justify-content: center;
}

.Navbar img {
  height: 70px;
  width: 90px;
  padding-left: 5px;
}

.Name {
  width: 250px;
}

.LightNav {
  background-color: #fefefe;
  transition: 1s;
}

.LightNav a,
.LightNav a:visited {
  color: #414345;
}

.DarkNav {
  background-color: #414345;
  transition: 1s;
}

.DarkNav a,
.DarkNav a:visited {
  color: #fefefe;
}

.ThemeIcon {
  margin-right: 2.5%;
  cursor: pointer;
}

.ThemeIcon:hover,
.Navbar a:hover {
  background-color: #cecece;
  background-size: 500px 100px;
  background-clip: content-box;
  border-radius: 50%;
  transition: 1s;
}

@media (max-width: 800px) {
  .Name {
    display: none;
  }
  .Navbar nav {
    margin-left: 10%;
  }
}

@media (max-width: 399px) {
  .Navbar div img {
    display: none;
  }
}
