.AboutMe {
  width: 100%;
  margin: 0px;
  min-height: 85vh;

  img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }

  ul {
    list-style: none;
  }

  .Description {
    font-size: 18px;
    font-family: "Karla", sans-serif;
    
    p{
      padding: 0 5% 0 5%;
    }

    .Interests{
      padding: 0 5% 0 5%;
    }

    .SkillGrid {
      display: grid;
      text-align: center;
      grid-gap: 5px;
      grid-template-columns: repeat(4, calc(100% / 4));
      grid-auto-rows: auto;
      grid-auto-rows: minmax(10px, auto);
      justify-content: center;

      div{
        margin: 0 5% 0 5%;
      }
    }
  }
}

@media screen and (min-width: 499px) and (max-width: 800px){
  .AboutMe {
    .Description {
      .SkillGrid {
        grid-template-columns: repeat(2, calc(100%/2));
        grid-auto-rows: auto;
        grid-auto-rows: minmax(5px, auto);
        justify-content: center;
        padding-right: 30px;
      }
    }
  }
}

@media screen and (min-width: 299px) and (max-width: 499px) {
  .AboutMe {
    .Description {
      .SkillGrid {
        grid-template-columns: repeat(1, calc(100%));
        grid-auto-rows: auto;
        grid-auto-rows: minmax(5px, auto);
        justify-content: center;
        padding-right: 30px;
      }
    }
  }
}
