.AboutMe{
    width: 100%;
    margin: 0px;
}

.AboutMe img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.AboutMeDesc{
    position: relative;
    margin-bottom: 10px;
}

.AboutMe ul{
    list-style: none;
}

.AboutMe span{
    margin: 0px;
}

.AboutMe h2{
    text-align: center;
}

.Description{
    font-size: 18px;
    font-family: 'Karla', sans-serif;
}

.SkillGrid{
    display: grid;
    text-align: center;
    grid-gap: 10px;
    grid-template-columns: repeat(3, calc(550px / 2));
    grid-auto-rows: auto;
    grid-auto-rows: minmax(10px, auto);
    justify-content: center;
    padding-right: 30px;
}

@media(max-width: 800px){
    .SkillGrid{
        display: grid;
        text-align: center;
        grid-gap: 5px;
        grid-template-columns: repeat(1, calc(550px / 2));
        grid-auto-rows: auto;
        grid-auto-rows: minmax(5px, auto);
        justify-content: center;
        padding-right: 30px;
    }
}

@media (max-width: 499px){
    .Interests{
        margin-right: 10%;
    }
}

@media (max-width: 399px){
    .Interests{
        margin-right: 10%;
    }
}

