.ProjectsPage {
  padding-top: 0.5rem;
  margin: 0px;
}

.Projects {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  padding: 0 1rem 10rem 1rem;
}
