.Project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95%;
  width: 100%;
  img {
    padding-top: 10px;
    height: 65%;
    width: 90%;
    object-fit: contain;
    background-repeat: no-repeat;
    border-radius: 5%;
  }
  svg {
    font-size: 3rem;
  }
  span{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

// for Themes
.LightBorder {
  box-shadow: 1px 0px 1px 1px black;
  a,
  a:visited {
    color: #2980b9;
  }

  a:hover {
    color: #1565c0;
    transition: 1s;
  }
}

.DarkBorder {
  box-shadow: 1px 0px 1px 1px white;
  a,
  a:visited {
    color: #ff416c;
  }
  a:hover {
    color: #c31432;
    transition: 1s;
  }
}

// for different screens
@media screen and (min-width: 299px) and (max-width: 899px) {
  .Project {
    margin: 0 2.5% 1% 2.5%;
    img {
      padding-top: 10px;
      height: 65%;
      width: 80%;
    }
    .GitLight,
    .GitDark {
      border-radius: 50%;
      margin: 15% 0 3% 42.5%;
      width: 15%;
    }
  }

  .LightBorder a,
  .DarkBorder a {
    margin: 10% 0 5% 0;
  }
}
