.Project{
    width: 450px;
}

.Project img {
    padding-top: 10px;
    height: 250px;
}

@media (max-width: 499px){
    .Project{
        width: 400px;
        margin-bottom: 15px;
    }

    .Project img {
        padding-top: 10px;
        height: 200px;
        width: 400px;
    }
}

@media (max-width: 399px){
    .Project{
        width: 300px;
        margin-bottom: 15px;
        margin-left: 5%;
    }

    .Project img {
        padding-top: 10px;
        height: 250px;
        width: 300px;
    }
}
